In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Read Data files
df_data = pd.read_csv('OriginalData/appdata10.csv')
df_data.head()

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1
3,234192,2013-07-05 16:08:46.354,4,16:00:00,28,"product_review,Home,product_review,Loan3,Finan...",40,0,0,1,2013-07-05 16:11:49.513,0
4,51549,2013-02-26 18:50:48.661,1,18:00:00,31,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",32,0,0,1,2013-02-26 18:56:37.841,1

In [4]:
df_tospscr = pd.read_csv('OriginalData/top_screens.csv')
list(df_tospscr['top_screens'])

def screencount(screen_list, i):
    a = screen_list.split(',')
    return a.count(i)

for i in list(df_tospscr['top_screens']):
    print('Current screen is {0}'.format(i))
    df_data[i] = df_data.apply(lambda x: screencount(x['screen_list'],i ),
           axis = 1)

df_data.shape

Current screen is Loan2
Current screen is location
Current screen is Institutions
Current screen is Credit3Container
Current screen is VerifyPhone
Current screen is BankVerification
Current screen is VerifyDateOfBirth
Current screen is ProfilePage
Current screen is VerifyCountry
Current screen is Cycle
Current screen is idscreen
Current screen is Credit3Dashboard
Current screen is Loan3
Current screen is CC1Category
Current screen is Splash
Current screen is Loan
Current screen is CC1
Current screen is RewardsContainer
Current screen is Credit3
Current screen is Credit1
Current screen is EditProfile
Current screen is Credit2
Current screen is Finances
Current screen is CC3
Current screen is Saving9
Current screen is Saving1
Current screen is Alerts
Current screen is Saving8
Current screen is Saving10
Current screen is Leaderboard
Current screen is Saving4
Current screen is VerifyMobile
Current screen is VerifyHousing
Current screen is RewardDetail
Current screen is VerifyHousingAmount
Current screen is ProfileMaritalStatus
Current screen is ProfileChildren
Current screen is ProfileEducation
Current screen is Saving7
Current screen is ProfileEducationMajor
Current screen is Rewards
Current screen is AccountView
Current screen is VerifyAnnualIncome
Current screen is VerifyIncomeType
Current screen is Saving2
Current screen is Saving6
Current screen is Saving2Amount
Current screen is Saving5
Current screen is ProfileJobTitle
Current screen is Login
Current screen is ProfileEmploymentLength
Current screen is WebView
Current screen is SecurityModal
Current screen is Loan4
Current screen is ResendToken
Current screen is TransactionList
Current screen is NetworkFailure
Current screen is ListPicker

(50000, 70)

In [5]:
#Data Preprocessing
# 1. Checking for Null Values
df_data.isnull().sum()
df_data.enrolled.value_counts()

1    31074
0    18926
Name: enrolled, dtype: int64

In [6]:
# Replacing null values by 0.
df_data.fillna(0,inplace = True)
df_data.isnull().sum()

user               0
first_open         0
dayofweek          0
hour               0
age                0
                  ..
Loan4              0
ResendToken        0
TransactionList    0
NetworkFailure     0
ListPicker         0
Length: 70, dtype: int64

In [7]:
# Change the format of hour field
df_data['hour_modified'] = df_data['hour'].str.replace(':','')
df_data.dtypes

user                int64
first_open         object
dayofweek           int64
hour               object
age                 int64
                    ...
ResendToken         int64
TransactionList     int64
NetworkFailure      int64
ListPicker          int64
hour_modified      object
Length: 71, dtype: object

In [8]:
df_data['hour_modified'] = df_data['hour_modified'].astype(int)
print(df_data['hour_modified'].dtype)
df_data.head(2)

int32

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,...,Login,ProfileEmploymentLength,WebView,SecurityModal,Loan4,ResendToken,TransactionList,NetworkFailure,ListPicker,hour_modified
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,...,1,0,0,0,0,0,0,0,0,20000
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,...,0,0,0,0,0,0,0,0,0,10000

In [9]:
# Saving it as csv file for modelling.
df_data.to_csv('modified.csv', index = None, header = True)